* {
  box-sizing: border-box;
  font-family: $font-main;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

html {
  font-family: $font-main;
  font-size: $font16;
}

body {
  color: $black;
  font-family: $font-main, 'Noto Sans', Arial, dotum, 'sans-serif';
}

div,
p,
span,
dt,
dd,
li,
label {
  color: $black;
  font-size: $font14;
  font-weight: $font-w4;
  line-height: $line-height-14;
  letter-spacing: $letter-spacing-14;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  padding-left: 0;
}

img {
  vertical-align: top;
}
