$black: #171a19;
$white: #fff;
$green: #00815a;
$hgreen02: #f0f5f4;
$hgreen03: #f7faf9;
$greenline: #d8e9e5;
$red: #ff383b;
$pink: #f5dcea;
$hpink: #dd298d;
$ared: #eb3912;

$gray01: #434545;
$gray02: #727573;
$gray03: #9b9e9c;
$gray04: #d4d6d4;
$gray05: #eaebea;
$gray06: #f7f7f7;
